<ng-container *ngIf="dialogVisible">
    <p-dialog modal="true" modal="modal" width="auto" ngClass="custom-dialog" [resizable]="false" [closable]="false" [(visible)]="dialogVisible">
        <p-header ngClsass="popup-header">
            <h2>External Web Site</h2>
            <span class="ij icon x-icon" (click)="hideDialog()"></span>
        </p-header>
        <article class="dialog-container">
            <div class="dialog-body">
                You are about to leave Industry Jump. Are you sure you want to continue? Please take a moment and review the URL below.<br><br>
                <span class="externalurl">{{externalWebsite}}</span>
            </div>
        </article>
        <p-footer>
            <button type="button" pButton label="Yes" (click)="onAccept()"></button>
            <button type="button" pButton label="No" (click)="hideDialog()"></button>
        </p-footer>
    </p-dialog>
</ng-container>