<ij-site-subheader></ij-site-subheader>
<router-outlet></router-outlet>
<ij-review-profile-dialog></ij-review-profile-dialog>
<ij-review-request-dialog></ij-review-request-dialog>
<ij-contact-profile-dialog></ij-contact-profile-dialog>
<ij-hire-profile-dialog></ij-hire-profile-dialog>
<ij-reqhire-profile-dialog></ij-reqhire-profile-dialog>
<ij-refer-profile-dialog></ij-refer-profile-dialog>
<ij-project-dialog></ij-project-dialog>
<ij-contest-review-dialog></ij-contest-review-dialog>
<ij-external-url-dialog></ij-external-url-dialog>
<ij-verify-facebook-dialog></ij-verify-facebook-dialog>
<ij-contact-facebook-dialog></ij-contact-facebook-dialog>
<ij-budget-level-dialog></ij-budget-level-dialog>
<ij-site-footer></ij-site-footer>
<ij-error-dialog></ij-error-dialog>
<ij-galary-dialog></ij-galary-dialog>