<p-autoComplete
    #autocomplete
    autoHighlight="true"
    [forceSelection]="forceSelection"
    maxlength="32"
    field="fullName"
    [multiple]="multipleSelection"
    [(ngModel)]="selected"
    [suggestions]="suggestions"
    (completeMethod)="onKeyDown($event)"
    (onSelect)="onSelect($event)"
    (onClear)="onClear($event)"
    [required]="required"
    [ij-input-validation]="'Please select a name'">
   
    <ng-template let-value pTemplate="item">
        <div class="ac-profile-item">
            <img src="{{value.thumbnailImageUrl}}"  />
            <div>
                <p class="name">{{value.fullName}}</p>
                <p class="roles">{{value.hireableCrewRoles}}</p>
            </div>
        </div>
    </ng-template>

    <ng-template let-value pTemplate="selectedItem">
        <span class="ui-autocomplete-token-label">{{value.fullName}}</span>
    </ng-template>
    
</p-autoComplete>