<footer class="site">
  <div class="container">
  <div class="row">

  <div class="col-sm-2">
    <h1>Navigation</h1>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/signup">Sign Up</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/search">Search Results</a></li>
      <li><a routerLink="/organization">Organizations</a></li>
    </ul>
  </div>

  <div class="col-sm-2">
    <h1>About</h1>
    <ul>
      <li><a routerLink="/about">Team Page</a></li>
      <li><a routerLink="/privacy">Privacy Policy</a></li>
      <li><a routerLink="/terms">Terms of Use</a></li>
    </ul>
  </div>

  <div class="col-sm-2">
    <h1>Contact</h1>
    <ul>
      <li><a routerLink="/contact">Contact Us</a></li>
      <li><a routerLink="/contact">Press</a></li>
      <li><a routerLink="/contact">Advertisting</a></li>
    </ul>
  </div>

  <div class="col-sm-offset-1 col-sm-5">
    <div id="social">
      <h1>Industry Jump</h1>
      <div id="image-row">
        <a target="_blank" rel="noreferrer noopener" href="https://www.instagram.com/industryjump/"><span class="ij icon instagram-gray"></span></a>
        <a target="_blank" rel="noreferrer noopener" href="https://www.facebook.com/industryjump/"><span class="ij icon facebook-gray"></span></a>
        <a target="_blank" rel="noreferrer noopener" href="https://www.youtube.com/channel/UCRILLI761_zdTeyG9hfP2Cw"><span class="ij icon youtube-gray"></span></a>
      </div>
    </div>
    
    <p>
      Industry Jump is a career and project management platform for top-tier, industry-reviewed
      freelancer filmmakers and producers. Hire the best crew for your projects, build beautiful
      portfolios of your work, meet new collaborators and potential employers, and take your career
      to new heights.
    </p>
    <small>&copy; 2018 Industry Jump, Inc.</small>
  </div>
  </div>
  </div>
</footer>