<div class="container fh" role="main">
    <div class="abscenter">
        <header class="welcome">
            <img src="../assets/images/ij-large-white.png" alt="Industry Jump" />
            <h1>Please Enter Your New Password</h1>
        </header>
        <section id="reset-password-container" class="form-widget">
            <form #f="ngForm" (ngSubmit)="onSubmit(f.form.valid)" novalidate autocomplete="off">

                <div class="validation-summary group" [ngClass]="{ 'hidden': !error }">
                    {{error}}
                </div>

                <div class="group" [ngClass]="{invalid: submitted && password.invalid}">
                    <span class="ij icon password-white"></span>
                    <input type="password" #password="ngModel" [(ngModel)]="model.password" name="password" placeholder="Password *" required
                        [pattern]="passwordRegex" minlength="6" maxlength="100" />
                    <p>Password must contain a number and a special letter (!, $, etc.)</p>
                </div>
                <div class="group" [ngClass]="{invalid: submitted && confirmPassword.invalid}">
                    <span class="ij icon password-white"></span>
                    <input type="password" #confirmPassword="ngModel" [(ngModel)]="model.confirmPassword" name="confirmPassword" placeholder="Re-type Password *"
                        required [pattern]="passwordRegex" minlength="6" maxlength="100" [equalTo]="password" />

                    <div class="validation-summary text-left" *ngIf="submitted && confirmPassword.errors?.equalTo">
                        <span>The passwords do not match.</span>
                    </div>
                </div>

                <footer class="group no-mar-top">
                    <button class="secondary" type="submit">RESET PASSWORD</button>
                </footer>
            </form>
        </section>

    </div>
</div>
<div id="bg">
    <div class="upperlayer"></div>
    <img src="assets/images/bg.jpg" alt=""></div>