<header class="welcome">
    <h1>Welcome to Industry Jump</h1>
</header>
<section class="form-widget">
    <form>
        <div id="account-confirm-container">
            <div class="group">
                <p>We sent you an email to activate your account</p>
                <p>Please click on the link within the email.</p>
            </div>
        </div>
        <footer class="group">
            <input type="button" (click)="onFinish()" class="primary" value="Finish" />
        </footer>
    </form>
</section>