<form #cpf="ngForm" (ngSubmit)="onChangePassword(cpf.form)" (keydown.enter)="$event.preventDefault()" novalidate>   
    <fieldset>
        <legend>Password <small>(Password changes will immediately log you off the site.)</small></legend>
        <div class="row">
            <div class="col-lg-4">
                <label for="current_password">Current Password</label>
                <input
                    id="current_password"
                    name="current_password"
                    #current_password="ngModel"
                    type="password" 
                    class="form-control"
                    minlength="6"
                    maxlength="100"
                    required
                    [ij-input-validation]="getValidationError(current_password)"
                    [pattern]="passwordRegex"
                    [(ngModel)]="model.currentPassword" />
            </div>

            <div class="col-lg-4">
                <label for="new_password">New Password</label>
                <input
                    id="new_password"
                    name="new_password"
                    #new_password="ngModel"
                    type="password" 
                    class="form-control"
                    autocomplete="off"
                    minlength="6" 
                    required
                    maxlength="100"
                    [ij-input-validation]="getValidationError(new_password)"
                    [pattern]="passwordRegex"
                    [(ngModel)]="model.newPassword" />
                <p class="small help-block">
                    Minimum 6 characters.<br>
                    Must contain upper and lowercase characters.<br>
                    Requires a number; special character optional.
                </p>
            </div>

            <div class="col-lg-4">
                <label for="confirm_password">Confirm Password</label>
                <input
                    id="confirm_password"
                    name="confirm_password"
                    #confirm_password="ngModel"
                    type="password" 
                    class="form-control"
                    autocomplete="off"
                    minlength="6" 
                    required
                    maxlength="100"
                    [ij-input-validation]="getValidationError(confirm_password)"
                    [equalTo]="new_password" 
                    [pattern]="passwordRegex"
                    [(ngModel)]="model.confirmPassword" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <input type="submit" value="Change Password" />
            </div>
        </div>
        <div class="row" *ngIf="showSaveErrored">
            <div class="col-lg-12">
                <div class="alert alert-danger">
                    Your changes did not save.
                    Please review your changes and try again.
                </div>
            </div>
        </div>
    </fieldset>
</form>