<header id="hero" class="{{ mode }} auth-container" [ngClass]="{ 'loggedIn': isLoggedIn }">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <!-- hero navigation -->
        <div id="hero-nav">
          <!--TODO:Change-->
          <a class="no-outline" routerLink="/">
            <img class="sm brand" src="../assets/images/ij-white.png" alt="Industry Jump" />
            <br />
            <label class="beta-version">Beta</label>
          </a>
          <ij-site-menu [menuWhiteColor]="menuWhiteColor" (quickSearchEvent)="onToggleQuickSearch()"></ij-site-menu>
        </div>
        <!-- end of hero navigation -->
      </div>
    </div>
  </div>

  <!-- quick search -->
  <ij-quick-search #quicksearch *ngIf="showQuickSearch" [@fadeInOut]></ij-quick-search>
  <!-- end of quick search -->
  <!-- <section> -->
    <div class="container">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12">
            <div id="hero-body">
              <div class="hide-on-desktop">
                <h1>{{title}}</h1>
              </div>
              <div class="show-on-desktop">
                <h1>{{title}}</h1>
              </div>
              <div class="company-text">
                <h4 class="the-best-way">Award winning-filmmakers, worldwide.</h4>
              </div>
              <div class="freelancer-text">
                <h4 class="the-best-way">Elevate your film career to the next level</h4>
              </div>
              <div class="partner-text">
                <h4 class="the-best-way">Invite a friend, you both get $10 USD*</h4>
              </div>
              <div class="clearfix"></div>
              <!-- full search body -->
              <div *ngIf="showSearch == 'true'" class="search-container homeFrmCtrl">
                <form #f="ngForm" (ngSubmit)="onSearch(f.form); $event.preventDefault();" id="hero-fsearch-body" autocomplete="off">
                  <div class="posRelative">
                    <span *ngIf="roleSearch">
                      <img src="../assets/images/icon-search-gray.png" class="search-icon" alt="Search" />
                      <input type="text" auto-complete [source]="roles" max-num-list="5" [(ngModel)]="model.role" name="role" [ij-rotating-placeholder]="placeholders"
                             id="search-input" #role="ngModel" [required]="roleSearch" (ngModelChange)="onRoleSelect($event)" [class.error]="submitted && role.errors?.required"
                             [ij-focus]="roleHasFocus" [placeholder]="placeholders[0]" />
                      <button type="button" class="organization removeFilter" (click)="toggleRoles()">
                        <span class="removeOrganization">-</span>
                      </button>
                    </span>
                    <span (click)="onClear()" class="ij icon x-icon autocomplete-cross hgh" [class.x-icon]="model.role"></span>

                  </div>
                  <!-- [required]="searchByOrganization" -->
                  <div class="posRelative" *ngIf="budget">
                    <span *ngIf="budgetSearch">
                      <img src="../assets/images/icon-search-gray.png" class="search-icon budget" alt="Search" />


                      <p-autoComplete class="inputCtrl" id="search-budget-autocomplete" [required]="budgetSearch" name="searchbudget" #searchbudget="ngModel"
                                      [class.error]="submitted && searchbudget.errors?.required" placeholder="Budgets" autoHighlight="true"
                                      forceSelection="true" dropdown="true" [(ngModel)]="model.budget" [suggestions]="allBudgetSuggestions"
                                      (completeMethod)="onBudgetsKeyDown($event)" (onSelect)="onBudgetSelect($event)" [multiple]="false">
                      </p-autoComplete>
                      <button type="button" class="organization removeFilter" (click)="toggleBudget()">
                        <span class="removeOrganization">-</span>
                      </button>
                    </span>
                  </div>

                  <div class="posRelative" *ngIf="city">
                    <span *ngIf="locationSearch">
                      <img src="../assets/images/icon-search-gray.png" class="search-icon city" alt="Search" />

                      <p-autoComplete class="inputCtrl city-textbox" id="search-state-autocomplete" [required]="locationSearch" name="location" #location="ngModel"
                                      [class.error]="submitted && location.errors?.required" placeholder="City, State" autoHighlight="searchByOrganization"
                                      forceSelection="true" dropdown="true" [(ngModel)]="model.location" [suggestions]="allCitiesSuggestions"
                                      (completeMethod)="onCitiesKeyDown($event)" (onSelect)="onCityStateSelect($event)" [multiple]="false">
                      </p-autoComplete>
                      <button type="button" class="organization removeFilter" (click)="toggleLocation()">
                        <span class="removeOrganization">-</span>
                      </button>
                    </span>
                  </div>

                  <div class="posRelative">
                    <span *ngIf="organizationSearch">
                      <img src="../assets/images/icon-search-gray.png" class="search-icon organisation" alt="Search" />
                      <p-autoComplete class="inputCtrl" id="search-organization-autocomplete" name="organization" #organization="ngModel"
                                      [class.error]="submitted && organization.errors?.required" placeholder="Groups/ Organization" autoHighlight="true"
                                      forceSelection="true" [(ngModel)]="model.organizationName" [required]="organizationSearch" dropdown="true" [suggestions]="allOrganizationSuggestions"
                                      (completeMethod)="onOrganizationKeyDown($event)" (ngModelChange)="checkOrganization()" [multiple]="false">
                      </p-autoComplete>
                      <button type="button" class="organization removeFilter" (click)="toggleOrganization()">
                        <span class="removeOrganization">-</span>
                      </button>
                    </span>
                  </div>
                  <!--Don't remove in-line style, global classes inheriting border-radius due to important-->
                  <div class="posRelative btns">
                    <button class="secondary" style="border-radius:10px !important;" *ngIf="!roleSearch" (click)="toggleRoles()">Roles</button>
                    <button class="secondary" style="border-radius:10px !important;" *ngIf="!budgetSearch" (click)="toggleBudget()">Budgets</button>
                    <button class="secondary" style="border-radius:10px !important;" *ngIf="!locationSearch" (click)="toggleLocation()">Locations</button>
                    <button class="secondary" style="border-radius:10px !important;" *ngIf="!organizationSearch" (click)="toggleOrganization()">Schools</button>
                  </div>
                  <div class="posRelative" *ngIf="!isTrue">
                    <table class="editAbleSearch">
                      <tr>
                        <!--<td class="td10">
                          <div class="btn-wrap">
                            <button type="button" *ngIf="minusBtn" (click)="removeOrganization()" class="organization">
                              <span class="removeOrganization">-</span>
                            </button>
                          </div>
                        </td>-->
                        <td *ngIf="roleSearch || budgetSearch || locationSearch || organizationSearch" class="td80">
                          <input type="submit" id="search-btn" value="Search" />
                        </td>
                        <!--<td class="td10">
                          <button type="button" (click)="addOrganization()" class="organization plus-btn ml10">
                            <span>+</span>
                          </button>
                        </td>-->
                      </tr>
                    </table>
                  </div>
                  <div class="posRelative" *ngIf="isTrue">
                    <table class="editAbleSearch">
                      <tr>
                        <td class="td10">
                          <button type="button" (click)="removeOrganization()" class="organization">
                            <span class="removeOrganization">-</span>
                          </button>
                        </td>
                        <td class="td80">
                          <input type="submit" id="search-btn" value="Search" />
                        </td>
                        <td class="td10">
                          <div class="btn-wrap"></div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </form>
                <!-- end full search body -->

              </div>
            </div>
          </div>
          <!-- <div class="clearfix"></div> -->
        </div>
      </div>
    </div>
  <!-- </section> -->
</header>
