<section class="job">
    <article>
        <div class="job-container">
            <ul class="list-group">
                <li class="list-group-item">
                    <div>
                        <div class="job-date-div pull-left">
                            <span class="event-date">Dec 24TH</span>
                            <span class="hired-by-img">
                                <img src="https://ijdevstorage.blob.core.windows.net/images/d29c2dfa-8230-4b4d-8be4-467211d4db6a.jpg" alt="Charn Sharma">
                            </span>
                        </div>
                        <div class="hired-div pull-left">
                            <span class="label label-job-types label-hired">Hired</span>
                        </div>
                        <div class="pull-left">
                            <span class="hired-by-img">
                                <img src="https://ijdevstorage.blob.core.windows.net/images/d29c2dfa-8230-4b4d-8be4-467211d4db6a.jpg" alt="Charn Sharma">
                            </span>
                        </div>
                        <div class="job-text">
                            <span class="hired-info">
                                <span class="text-bold">Charn</span>
                                <span> hired as a </span>
                                <span class="text-bold">Charn</span>
                                <span> on the </span>
                                <span class="text-bold">Charn,</span>
                                <span> "To be Me" by </span>
                                <span class="text-bold">Charn</span>
                            </span>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </li>
            </ul>
        </div>
    </article>
</section>